.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__logo {
  width: 100%;
  max-width: 254px;
  padding-top: 34px;
}
.header__title {
  margin: 0;
  width: 100%;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  padding-top: 90px;
  color: #fff;
}
.header__subtitle {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  max-width: 720px;
  padding-top: 32px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    padding-top: 30px;
  }
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1.05;
  }
  .header__subtitle {
    padding-top: 25px;
  }
}
@media screen and (max-width: 544px) {
  .header__logo {
    width: 100%;
    padding-top: 20px;
    max-width: 188px;
  }
  .header__title {
    width: 100%;
    max-width: 228px;
    font-size: 40px;
    line-height: 1.1;
    padding-top: 50px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
    padding-top: 16px;
  }
}
