.main__image {
  width: 100%;
  padding-top: 64px;
  max-width: 984px;
  max-height: 615px;
}
.main__text {
  color: #fff;
  width: 100%;
  max-width: 830px;
  min-height: 482px;
  padding-top: 92px;
}
.main__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}
.main__subtitle {
  margin: 0;
  padding-top: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
}
.main__subname {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  width: 100%;
  max-width: 732px;
  min-height: 34px;
}
.main__description {
  margin: 0;
  padding-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  width: 100%;
  max-width: 722px;
  min-height: 182px;
}
@media screen and (max-width: 1024px) {
  .main__image {
    padding-top: 30px;
    max-width: 768px;
    max-height: 480px;
  }
  .main__text {
    max-width: 720px;
    min-height: 490px;
    padding-top: 90px;
  }
  .main__title {
    font-size: 45px;
    line-height: 1.08;
  }
  .main__subtitle {
    padding-top: 50px;
  }
  .main__subname {
    padding-top: 0px;
    max-width: 720px;
  }
  .main__description {
    max-width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .main__image {
    padding-top: 40px;
    max-width: 320px;
    max-height: 200px;
  }
  .main__text {
    max-width: 288px;
    height: 878px;
    padding-top: 64px;
  }
  .main__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .main__subtitle {
    line-height: 1.25;
  }
  .main__subname {
    padding-top: 10px;
    line-height: 1.41;
    max-width: 288px;
  }
  .main__description {
    max-width: 288px;
    min-height: 442px;
  }
}
